<div class="d-flex flex-column p-1" [formGroup]="form">
    <div *ngIf="form" class="form d-flex flex-column blue">
        <h3>app.component</h3>
        <input formControlName="text1" type="text">
        <input formControlName="text2" type="text">
        <app-nested-form-group class="red"
                               [formGroup]="form"
                               title="nested-form-group.component (binding on root)"
                               [debug]="false">
        </app-nested-form-group>
        <app-nested-form-array class="green"
                               formArrayName="nestedFormArray">
        </app-nested-form-array>
        <app-nested-form-group class="red"
                               formGroupName="nestedFormGroup"
                               title="nested-form-group.component (binding on property)">
        </app-nested-form-group>
        <pre><p>{{form.getRawValue() | json }}</p></pre>
    </div>
</div>
